import("RColorBrewer")
import("gtable")
import("beeswarm")
import("Biobase")
import("devtools")
importFrom("dplyr", arrange, desc, do, filter, first, intersect, last, mutate, rename, select, setdiff, setequal, summarise, tibble, ungroup, union, "%>%")
import("ggdendro")
import("ggplot2")
import("glmnet")
import("grDevices")
import("grid")
import("ipflasso")
import("reshape2")
importFrom("stats", aggregate, anova, aov, as.dendrogram, as.hclust, coefficients, complete.cases, cor, cor.test, df, dist, dnorm, fisher.test, hclust, line, lm, mad, median, model.matrix, order.dendrogram, p.adjust, prcomp, qnorm, quantile, relevel, reorder, setNames, smooth, t.test, sd, kmeans, as.dist, cutree, predict, coef)
import("survival")
import("tibble")
import("scales")  # dscale, hue_pal for pheatmapwh
import("DESeq2")
import("SummarizedExperiment")

## export
export("meltWholeDF")
export("whichInGrob")
export("safeMatch")
export("stripConc")
export("deckel")
export("pheatmapwh")
export("giveDrugLabel")
export("toCaps")
export("scientific_10")
export("percentAxisScale")
export("col2hex")
export("defineResponseGroups")
export("log10div")
export("exp10div")
export("smunlist")
export("moround")

# From the survplot pckg
export("nrisk")
export("addNrisk")
export("survplot")
